# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'jake'
      'submenu': [
        {
          'label': 'Run'
          'command': 'jake:run'
        }
        {
          'label': 'Choose task'
          'command': 'jake:open'
        }
      ]
    ]
  }
]
